<div class="header-panel shadow-z-2" id="header">
			<div class="container">
				<div class="inner">
					<div class="leftHeader">
						{% if site.logoonly == false %}
						<div class="row-picture">
							<a href="{{ site.url }}"><img class="logo-img" src="{{ site.logo }}" draggable="false"></a>
						</div>
						<div class="row-details">
							<h4 class="list-group-item-heading">{{ site.title }}</h4>
							<p class="list-group-item-text">{{ site.description }}</p>
							{% include social_links.html %}
						</div>
						{% else %}
						<div class="row-picture">
							<a href="{{ site.baseurl }}"><img class="logo-img-only" src="{{ site.logo }}" draggable="false"></a>
						</div>
						{% endif %}
						<div class="navbar-header pull-right">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<i class="fa fa-2x fa-bars"></i>
							</button>
						</div>
					</div>
					<div class="rightHeader">
						{% include menu.html %}
					</div>
				</div> <!-- row -->
			</div> <!-- container -->
		</div> <!-- header-panel -->
