    <div class="title_wrapper"><h3 class="title">{{ include.name }}</h3></div>
    <div class="row members">
    {% assign idx=0 %}
    {% for member in include.members %}
    <div class="col col-md-2 col-sm-2 col-xs-12 member">
      {% if include.img %}
      {% assign member_img="unknown.png" %}
      {% if member.img %}{% assign member_img=member.img %}{% endif %}
      <div class="bg-cover member_img" style="background-image: url({{ site.baseurl }}/static/img/member/{{ member_img }}) !important; background-size: 100%; background-size: cover;">
        {% if member.img == "kyuri_jo.jpg" %}
        <a class="" href="http://kyurijo.github.io" target="_blank">
        <img class="active_img" src="{{ site.baseurl }}/static/img/transparent.png"></a>
        {% else %}
        {% if member.img == "inuk_jung.jpg" %}
        <a class="" href="http://inukj.github.io/online-cv/" target="_blank">
        <img class="active_img" src="{{ site.baseurl }}/static/img/transparent.png"></a>
        {% else %}  
        <a class="" href="..{{ member.url }}">
        <img class="active_img" src="{{ site.baseurl }}/static/img/transparent.png"></a>
        {% endif %} 
      </div>
      {% endif %}
      {% if member.title == "Kyuri Jo" %}
      <div class="member_desc"><span class="name"><a href="http://kyurijo.github.io" target="_blank">{{ member.title }}</a></span></div>
      {% else %}  
      {% if member.title == "Inuk Jung" %}
      <div class="member_desc"><span class="name"><a href="http://inukj.github.io/online-cv/" target="_blank">{{ member.title }}</a></span></div>
      {% else %}  
      <div class="member_desc"><span class="name"><a href="..{{ member.url }}">{{ member.title }}</a></span></div>
      {% endif %}        
      <div class="member_desc">{{ member.contact }}<br>{{ member.summary }}</div>
    </div>
    {% assign idx=idx | plus:1 %}
    {% assign mo= idx|modulo:6 %}
    {% if mo == 0 %}<div class="clear"></div>{% endif %}
    {% endfor %}
    </div> <!-- row -->
