---
layout: default
---
<div class="post-content well">
<div class="title_wrapper">
  <h3 class="title">{{ page.title }}</h3>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4">
    <div class="bg-cover member_img"
    {% if page.img %}
    style="background-image: url({{ site.baseurl }}/static/img/member/{{ page.img }}) !important;"
    {% endif %}
    >
      <img class="active_img" src="{{ site.baseurl }}/static/img/transparent.png">
    </div>
  </div>
  <div class="col-md-9 col-sm-8 content">
    <h4>Contact</h4>
    {% if page.contact %}
    <p>{{ page.contact }}</p>
    {% else %}
    <p>No contact information.</p>
    {% endif %}
    <hr />


    <!-- paper list -->
    {% assign papers=site.data.publications.international | where_exp:"item","item.author contains page.tag" %}
    {% if papers.size > 0 %}
    <h4>International Papers</h4>
    <ul>
    {% for paper in papers %}
      <li>{{ paper.title }}</li>
    {% endfor %}
    </ul>
    <hr />
    {% endif %}

    {% assign papers=site.data.publications.conference | where_exp:"item","item.author contains page.tag" %}
    {% if papers.size > 0 %}
    <h4>Conference Papers</h4>
    <ul>
    {% for paper in papers %}
      <li>{{ paper.title }}</li>
    {% endfor %}
    </ul>
    <hr />
    {% endif %}

    {% assign papers=site.data.publications.domestic | where_exp:"item","item.author contains page.tag" %}
    {% if papers.size > 0 %}
    <h4>Domestic Papers</h4>
    <ul>
    {% for paper in papers %}
      <li>{{ paper.title }}</li>
    {% endfor %}
    </ul>
    <hr />
    {% endif %}
    <!-- paper list end -->



    {% if page.content %}
    <article class="content">
      <div class="post member_article">{{ content }}</div>
    </article>
    {% endif %}
  </div>
</div>
</div>
