---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}

    <div class="projects row">
    {% for i in site.data.projects %}
    <div class="project-item col-md-12 col-sm-12 col-xs-12" data-tags='{{ i.tags | jsonify | downcase }}'>
    	<div class="well project-outer">
    		<div class="project-inner">
    			<div class="col-sm-4"><a href="{{ site.baseurl }}/static/img/projects/{{ i.image }}" class="thickbox">
    			<div class="project-img bordered" style="background-image: url('{{ site.baseurl }}/static/img/projects/{{ i.image }}') !important; background-size: 100%; background-size: cover;"></div>
          </a></div> <!-- project thumb -->

          <div class="col-sm-8">
          {% if i.url %} <a href="{{ i.url }}" target="_blank"> {% endif %}
    			<h3 class="project-headlines">{{ i.name }}</h3>
    			{% if i.url %} </a> {% endif %}
    			<div class="project-content">
            {{ i.desc }}

    				<div class="tag-holder">
    				{% if i.tags %} 
    					{% for j in i.tags %}
    					<span class="label tags tag-filter" data-tag="{{ j | downcase }}">{{ j }}</span>
    					{% endfor %}
    				{% endif %}
    				</div>
    			</div>
    			<div class="project-footer"> 
    				{% if i.url %} 
    				<a href="{{ i.url }}" target="_blank" class="btn btn-info btn-raised btn-sm project-link">View</a>
    				{% endif %}
    				<span class="project-timeline">{{ i.date }}</span>
    			</div>
          </div> <!-- project body -->
    		</div>
    	</div>
        </div>
    {% endfor %}
    </div>
  </div>

</article>
